version: '3.8'

services:
  cpython:
    build:
      context: .
      dockerfile: Dockerfile.cpython
    volumes:
      - type: bind
        source: ./roms
        target: /usr/share/c64py/roms
        read_only: true

  pypy:
    build:
      context: .
      dockerfile: Dockerfile.pypy
    volumes:
      - type: bind
        source: ./roms
        target: /usr/share/c64py/roms
        read_only: true
